html {
  font-family: Georgia, serif;
  background-color: #f0eee8;
  line-height: 1.5;
  box-sizing: border-box;
  color: #512200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #512200;
  margin-top: .5rem;
}

.link-card:hover {
  background-color: #9a816d;
}

.link-card {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 3px;
  padding: .4em .75em .5em;
  background-color: #dcd4cd;
}

.beetle {
  display: inline-block;
}

.one {
  border: 0;
  border-top: 2px solid #cabdb2;
  border-bottom: 2px solid #cabdb2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 1rem;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: .875rem;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: .875rem;
}

.wrapper {
  text-align: center;
}

.btn {
  background-color: #785439;
  color: #f0eee8;
  text-align: center;
  padding: .4rem .75rem .5rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  font-family: Dosis, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: .5rem;
}

.btn:hover {
  background-color: #512200;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-self: center;
}

a {
  text-decoration: none;
}
